[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
llama-index = "0.10.0"
llama-index-core = "*"
openai = "*"
python-dotenv = "*"
pinecone-client = "*"
black = "*"
streamlit = "*"
watchdog = "*"
setuptools = "*"
chromadb = "*"
llama-index-vector-stores-pinecone = "*"
llama-index-llms-openai = "*"
llama-index-embeddings-openai = "*"
llama-index-readers-file = "*"
llmsherpa = "*"

[dev-packages]

[requires]
python_version = "3.11"
