[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
llama-index = "*"
openai = "*"
python-dotenv = "*"
pinecone-client = "*"
black = "*"
setuptools = "*"
streamlit = "*"
watchdog = "*"

[dev-packages]

[requires]
python_version = "3.11"
